.StudyDangerZone__info {
  display: block;
}

.StudyDangerZone.open .StudyDangerZone__info {
  display: none;
}

.StudyDangerZone__delete {
  display: none;
}

.StudyDangerZone.open .StudyDangerZone__delete {
  display: block;
}
