@import "@material/layout-grid/mixins";

.CreateLessonForm {
  .CreateLessonForm__tabs {
    margin-bottom: 1em;

    @include mdc-layout-grid-media-query_(desktop) {
      width: 30%;
    }

    @include mdc-layout-grid-media-query_(tablet) {
      width: 50%;
    }

    @include mdc-layout-grid-media-query_(phone) {
      width: 100%;
    }
  }

  .CreateLessonForm__input {
    display: block;
  }

  .CreateLessonForm__preview {
    display: none;
  }

  &.CreateLessonForm__preview--selected {
    .CreateLessonForm__input {
      display: none;
    }
    .CreateLessonForm__preview {
      display: block;
    }
  }
}
