.rn-file-path {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden; }

.rn-file-path__separator {
  margin-left: 4px;
  margin-right: 4px; }

.rn-file-path__directory {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.rn-file-path__file {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden; }

.rn-file-path__file__text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.rn-file-path__file__icon {
  display: inline-flex;
  flex-shrink: 0;
  align-items: 0;
  justify-content: center;
  fill: currentColor;
  margin-right: 8px; }
