@import "@material/button/mixins";
@import "@material/layout-grid/mixins";
@import "./variables";

.rn-combo-button {
  display: inline-flex;
  flex-shrink: 0;
  flex-wrap: nowrap;

  .mdc-button:not(:disabled) {
    + .rn-combo-button__count {
      border-left: none;
    }
  }

  .rn-select-button:not(.rn-select-button--disabled) {
    + .rn-combo-button__count {
      border-left: none;
    }
  }
}

.rn-combo-button__count {
  @include mdc-button-base_;
  @include mdc-button-shape-radius(small);
  @include mdc-button-container-fill-color(transparent);
  @include mdc-button-ink-color(primary);
  @include mdc-states(primary);
  
  @include mdc-button--outlined_;
  @include mdc-button-outline-width(2px);
  @include mdc-button-outline-color(primary);

  @include mdc-layout-grid-media-query_(phone) {
    @include mdc-button--dense_;
  }

  min-width: 36px;
}


