.StudyMeta {
  height: 100px;
}

.StudyMetaDetails__show {
  display: flex;
  align-items: center;
}

.StudyMetaDetails.StudyMetaDetails__open .StudyMetaDetails__show {
  display: none;
}

.StudyMetaDetails__edit {
  display: none;
}

.StudyMetaDetails.StudyMetaDetails__open .StudyMetaDetails__edit {
  display: flex;
  align-items: end;
}

.StudyMetaTopics__show {
  display: flex;
  align-items: center;
}

.StudyMetaTopics.StudyMetaTopics__open .StudyMetaTopics__show {
  display: none;
}

.StudyMetaTopics__edit {
  display: none;
}

.StudyMetaTopics.StudyMetaTopics__open .StudyMetaTopics__edit {
  display: flex;
  align-items: end;
}
