# vi: ft=yaml 

container_commands:
  01_certbot_config_dir:
    command: "mkdir -p /etc/letsencrypt/configs /scripts"
  02_certbot_config_wget:
    command: "wget https://dl.eff.org/certbot-auto"
    cwd: "/scripts"
  03_certbot_config_chmod:
    command: "chmod a+x ./certbot-auto"
    cwd: "/scripts"

files:
  "/etc/letsencrypt/configs/ma.rkus.ninja.conf":
    mode: "000666"
    owner: root
    group: root
    content: |
      # This is an example of the kind of things you can do in a configuration file.
      # All flags used by the client can be configured here. Run Certbot with
      # "--help" to learn more about the available options.
      #
      # Note that these options apply automatically to all use of Certbot for
      # obtaining or renewing certificates, so options specific to a single
      # certificate on a system with several certificates should not be placed
      # here.

      # Use a 4096 bit RSA key instead of 2048
      rsa-key-size = 4096

      # Uncomment and update to register with the specified e-mail address
      email = m@rkus.ninja

      # Uncomment to use the standalone authenticator on port 443
      # authenticator = standalone
      # standalone-supported-challenges = tls-sni-01

      # Uncomment to use the webroot authenticator. Replace webroot-path with the
      # path to the public_html / webroot folder being served by your web server.
      authenticator = webroot
      # NOTE: This is specific to this domain
      webroot-path = /webroots/ma.rkus.ninja

      # NOTE: Since this configuration file applies to all invocations of certbot 
      # it is incorrect to list domains in it. Listing domains in cli.ini may prevent
      # renewal from working.
      domains = ma.rkus.ninja

      # turn off the ncurses UI, we want this to be run as a cronjob
      text = True
