# vi: ft=yaml

option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm run deploy"
    NodeVersion: "10.13.0"
    ProxyServer: "nginx"

# Add node/npm to /bin for ssh purposes
container_commands:
  01_node_binary:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/node /bin/node"
  02_npm_binary:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/npm /bin/npm"
