@import "@material/layout-grid/mixins";
@import "@material/theme/mixins";
@import "@material/typography/mixins";

.rn-card__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  box-sizing: border-box;
  padding: 16px;
}

.rn-card__header__graphic {
  display: inline-flex;
  flex-shrink: 0;
  align-items: 0;
  justify-content: center;
  fill: currentColor;
  height: 24px;
  width: 24px;
  font-size: 24px;
  margin-right: 16px;
}

.rn-card__text {
  @include mdc-typography-overflow-ellipsis;
}

.rn-card__title {
  @include mdc-typography-overflow-ellipsis;

  font-weight: 500;
  display: block;
}

.rn-card__subtitle {
  @include mdc-typography-overflow-ellipsis;
  @include mdc-typography(subtitle2);
  @include mdc-theme-prop(color, text-secondary-on-light);
}

.rn-card__overline {
  @include mdc-typography-overflow-ellipsis;
  @include mdc-typography(overline);
  @include mdc-theme-prop(color, text-secondary-on-light);

  padding: 16px;
}

.rn-card__body {
  @include mdc-typography(body2);

  padding: 16px;
}

.rn-card__header + .rn-card__body,
.rn-card__overline + .rn-card__body {
  padding: 0 16px 8px 16px;
}

.rn-card__actions {
  .rn-card__actions--collapsed {
    @include mdc-layout-grid-media-query_(desktop) {
      display: none;
    }
    @include mdc-layout-grid-media-query_(tablet) {
      display: none;
    }
  }

  .rn-card__actions--spread {
    @include mdc-layout-grid-media-query_(phone) {
      display: none;
    }
  }
}
