.rn-list-preview__tags {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .rn-list-preview__tags > * {
    margin: 4px; }
  @media (max-width: 479px) {
    .rn-list-preview__tags {
      display: none; } }

.rn-list-preview__actions--spread {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  flex-wrap: nowrap;
  overflow: hidden; }

@media (min-width: 840px) {
  .rn-list-preview__actions .rn-list-preview__actions--collapsed {
    display: none; } }

@media (min-width: 480px) and (max-width: 839px) {
  .rn-list-preview__actions .rn-list-preview__actions--collapsed {
    display: none; } }

@media (max-width: 479px) {
  .rn-list-preview__actions .rn-list-preview__actions--spread {
    display: none; } }

.rn-list-preview__action {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none; }
  .rn-list-preview__action:focus {
    outline: none; }

.rn-list-preview__action--button {
  /* @noflip */
  margin-left: 0;
  /* @noflip */
  margin-right: 8px;
  padding: 0 8px; }
  [dir="rtl"] .rn-list-preview__action--button, .rn-list-preview__action--button[dir="rtl"] {
    /* @noflip */
    margin-left: 8px;
    /* @noflip */
    margin-right: 0; }
  .rn-list-preview__action--button:last-child {
    /* @noflip */
    margin-left: 0;
    /* @noflip */
    margin-right: 0; }
    [dir="rtl"] .rn-list-preview__action--button:last-child, .rn-list-preview__action--button:last-child[dir="rtl"] {
      /* @noflip */
      margin-left: 0;
      /* @noflip */
      margin-right: 0; }

.rn-list-preview__action--icon {
  padding: 12px; }

.rn-list-preview__action--icon:not(:disabled) {
  color: rgba(0, 0, 0, 0.38);
  /* @alternate */
  color: var(--mdc-theme-text-icon-on-background, rgba(0, 0, 0, 0.38)); }
