@import "@material/layout-grid/mixins";

.CreateLessonForm {
  .CreateLessonForm__input {
    display: block;
  }

  .CreateLessonForm__preview {
    display: none;
  }

  &.CreateLessonForm__preview--selected {
    .CreateLessonForm__input {
      display: none;
    }
    .CreateLessonForm__preview {
      display: block;
    }
  }
}
