@import "@material/typography/mixins";

html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  @include mdc-typography(headline1);
}
h2 {
  @include mdc-typography(headline2);
}
h3 {
  @include mdc-typography(headline3);
}
h4 {
  @include mdc-typography(headline4);
}
h5 {
  @include mdc-typography(headline5);
}
h6 {
  @include mdc-typography(headline6);
}
