@import "@material/layout-grid/mixins";
@import "@material/typography/mixins";

html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  @include mdc-layout-grid-media-query_(desktop) {
    @include mdc-typography(headline1);
  }
  @include mdc-layout-grid-media-query_(tablet) {
    @include mdc-typography(headline2);
  }
  @include mdc-layout-grid-media-query_(phone) {
    @include mdc-typography(headline3);
  }
}
h2 {
  @include mdc-layout-grid-media-query_(desktop) {
    @include mdc-typography(headline2);
  }
  @include mdc-layout-grid-media-query_(tablet) {
    @include mdc-typography(headline3);
  }
  @include mdc-layout-grid-media-query_(phone) {
    @include mdc-typography(headline4);
  }
}
h3 {
  @include mdc-layout-grid-media-query_(desktop) {
    @include mdc-typography(headline3);
  }
  @include mdc-layout-grid-media-query_(tablet) {
    @include mdc-typography(headline4);
  }
  @include mdc-layout-grid-media-query_(phone) {
    @include mdc-typography(headline5);
  }
}
h4 {
  @include mdc-layout-grid-media-query_(desktop) {
    @include mdc-typography(headline4);
  }
  @include mdc-layout-grid-media-query_(tablet) {
    @include mdc-typography(headline5);
  }
  @include mdc-layout-grid-media-query_(phone) {
    @include mdc-typography(headline6);
  }
}
h5 {
  @include mdc-layout-grid-media-query_(desktop) {
    @include mdc-typography(headline5);
  }
  @include mdc-layout-grid-media-query_(tablet) {
    @include mdc-typography(headline6);
  }
  @include mdc-layout-grid-media-query_(phone) {
    @include mdc-typography(subtitle1);
  }
}
h6 {
  @include mdc-layout-grid-media-query_(desktop) {
    @include mdc-typography(headline6);
  }
  @include mdc-layout-grid-media-query_(tablet) {
    @include mdc-typography(subtitle1);
  }
  @include mdc-layout-grid-media-query_(phone) {
    @include mdc-typography(subtitle2);
  }
}
