// helper classes
@import "@material/theme/mixins";

.select-none {
  user-select: none;
}

.z-behind {
  z-index: -1;
}

.flex-stable {
  flex-shrink: 0;
}

.text {
  cursor: text;
}

.bottom {
  margin-top: auto;
}

.inline-flex-center {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bg-background {
  @include mdc-theme-prop(background-color, background);
}

.min-vh-25 {
  min-height: 25vh;
}

.min-vh-50 {
  min-height: 50vh;
}

.min-vh-75 {
  min-height: 75vh;
}
