// Fixes size of FontAwesomeIcon within mdc-icon-button
.mdc-icon-button svg {
  &.svg-inline--fa {
    width: 24px;
    height: 24px;
  }
}

//====================================
// This has not yet been added to the @material/icon-button release, but I need
// to use it now.
.mdc-icon-button__icon {
  display: inline-block;

  &.svg-inline--fa {
    display: block;
  }

  // stylelint-disable-next-line plugin/selector-bem-pattern
  &.mdc-icon-button__icon--on {
    display: none;

    &.svg-inline--fa {
      display: none;
    }
  }
}

.mdc-icon-button--on {
  .mdc-icon-button__icon {
    display: none;

    &.svg-inline--fa {
      display: none;
    }

    // stylelint-disable-next-line plugin/selector-bem-pattern
    &.mdc-icon-button__icon--on {
      display: inline-block;

      &.svg-inline--fa {
        display: block;
      }
    }
  }
}
//====================================

// Similar functionality of the icon button for the regular button too.
.mdc-button {
  .mdc-button__icon {
    &.mdc-button__icon--on {
      display: none;
    }
  }

  &.mdc-button--on {
    .mdc-button__icon {
      display: none;

      &.mdc-button__icon--on {
        display: inline-block;
      }
    }
  }
}
