@import "globals.css";
@import "typography.css";
@import "transitions.css";
@import "helpers.css";

@import "components/link.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}
