@import "src/styles/mdc";

$rn-select-button-arrow-padding: 16px;
$rn-select-button-label-padding: 16px;
$rn-select-button-arrow-color: mdc-theme-background-url-prop-value(primary);
$rn-select-button-disabled-arrow-color: mdc-theme-background-url-prop-value(on-surface);
