@import "@material/button/mixins";
@import "@material/layout-grid/mixins";
@import "@material/rtl/mixins";
@import "@material/select/mixins";
@import "@material/select/variables";
@import "@material/theme/variables";
@import "src/styles/mdc";
@import "./mixins";
@import "./variables";

.rn-select-button {
  @include mdc-button-base_;
  @include mdc-button-shape-radius(small);
  @include mdc-states(primary);

  @include rn-select-button-ink-color(primary);
  @include rn-select-button-container-fill-color(transparent);
  
  @include mdc-button--outlined_;
  @include mdc-button-outline-width(2px);

  @include rn-select-button-outline-color(primary);

  @include mdc-select-dd-arrow-svg-bg_($rn-select-button-arrow-color, $rn-select-button-dropdown-opacity);

  // Focused state colors
  @include mdc-select-focused-bottom-line-color(primary);
  @include mdc-select-focused-label-color($mdc-select-focused-label-color);

  // Hover state colors
  @include mdc-select-hover-bottom-line-color($mdc-select-bottom-line-hover-color);
  @include mdc-floating-label-float-position($mdc-select-label-position-y);
  @include mdc-select-floating-label_;

  @include mdc-layout-grid-media-query_(phone) {
    @include mdc-button--dense_;
  }

  display: inline-flex;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right 8px bottom 12px;

  @include mdc-rtl {
    background-position: left 8px bottom 12px;
  }

  &__native-control {
    @include mdc-rtl-reflexive-property(
      padding,
      $rn-select-button-label-padding,
      $rn-select-button-arrow-padding);

    &::-ms-expand {
      display: none;
    }

    // counteracts the extra text padding that Firefox adds by default
    @-moz-document url-prefix("") {
      text-indent: -2px;
    }

    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    outline: none;
    color: inherit;
    background-color: transparent;
    font: inherit;
    white-space: nowrap;
    cursor: pointer;
    appearance: none;
  }

}

.rn-select-button--disabled {
  @include mdc-select-dd-arrow-svg-bg_($rn-select-button-disabled-arrow-color,
    $rn-select-button-disabled-dropdown-opacity);
  @include mdc-theme-prop(background-color, transparent);

  color: $mdc-button-disabled-ink-color;
  cursor: default;
  pointer-events: none;
}
