@import "@material/animation/variables";
@import "@material/button/mixins";
@import "@material/layout-grid/mixins";
@import "@material/rtl/mixins";
@import "@material/select/mixins";
@import "@material/select/variables";
@import "@material/theme/variables";
@import "src/styles/mdc";
@import "./mixins";
@import "./variables";

.rn-select-button {
  @include mdc-button-base_;
  @include mdc-button-shape-radius(small);
  @include mdc-states(primary);

  @include rn-select-button-ink-color(primary);
  @include rn-select-button-container-fill-color(transparent);
  
  @include mdc-button--outlined_;
  @include mdc-button-outline-width(2px);

  @include rn-select-button-outline-color(primary);

  // Focused state colors
  @include mdc-select-focused-bottom-line-color(primary);
  @include mdc-select-focused-label-color($mdc-select-focused-label-color);

  // Hover state colors
  @include mdc-select-hover-bottom-line-color($mdc-select-bottom-line-hover-color);
  @include mdc-floating-label-float-position($mdc-select-label-position-y);
  @include mdc-select-floating-label_;

  display: inline-flex;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right 8px bottom 12px;
  will-change: opacity;

  &__dropdown-icon {
    @include mdc-select-dd-arrow-svg-bg_($mdc-select-dropdown-color, $mdc-select-dropdown-opacity);
    @include mdc-rtl-reflexive(left, auto, right, 8px);

    position: absolute;
    bottom: 5px;
    width: 24px;
    height: 24px;
    transition: transform $mdc-select-dropdown-transition-duration $mdc-animation-standard-curve-timing-function;
    pointer-events: none;

    .mdc-select--focused & {
      @include mdc-select-dd-arrow-svg-bg_(mdc-theme-prop-value(primary), 1);

      transform: rotate(180deg) translateY(-5px);
      transition: transform $mdc-select-dropdown-transition-duration $mdc-animation-standard-curve-timing-function;
    }
  }

  @include mdc-rtl {
    background-position: left 8px bottom 12px;
  }

  &__native-control {
    @include mdc-rtl-reflexive-property(
      padding,
      $rn-select-button-label-padding,
      $rn-select-button-arrow-padding);

    &::-ms-expand {
      display: none;
    }

    // counteracts the extra text padding that Firefox adds by default
    @-moz-document url-prefix("") {
      text-indent: -2px;
    }

    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    outline: none;
    color: inherit;
    background-color: transparent;
    font: inherit;
    white-space: nowrap;
    cursor: pointer;
    appearance: none;
    text-transform: inherit;
  }

  @include mdc-layout-grid-media-query_(phone) {
    @include mdc-button--dense_;

    &__dropdown-icon {
      bottom: 2px;
    }
  }
}

.rn-select-button--disabled {
  @include mdc-select-container-fill-color_($mdc-select-disabled-fill-color);

  .mdc-select__dropdown-icon {
    @include mdc-select-dd-arrow-svg-bg_($mdc-select-dropdown-color, $mdc-select-disabled-dropdown-opacity);
  }

  color: $mdc-button-disabled-ink-color;
  cursor: default;
  pointer-events: none;
}
