.ChangeUsername__info {
  display: none;
}

.ChangeUsername.info .ChangeUsername__info {
  display: block;
}

.ChangeUsername__agreement {
  display: none;
}

.ChangeUsername.agreement .ChangeUsername__agreement {
  display: block;
}

.ChangeUsername__form {
  display: none;
}

.ChangeUsername.form .ChangeUsername__form {
  display: block;
}
