@import "@material/layout-grid/mixins";
@import "@material/rtl/mixins";
@import "@material/theme/mixins";
@import "@material/typography/mixins";

.rn-header {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  min-height: 48px;
  
  @include mdc-layout-grid-media-query_(phone) {
    flex-direction: column;
    align-items: start;
  }
}

.rn-header__title {
  @include mdc-typography-overflow-ellipsis;

  margin: 0;
  flex: 1 1 auto;
  align-self: stretch;
}

.rn-header__actions {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: 0;

  @include mdc-layout-grid-media-query_(phone) {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 0;
    margin-top: 8px;
  }
}

.rn-header__action {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  flex-shrink: 0;

  justify-content: center;
  cursor: pointer;
  user-select: none;

  &:focus {
    outline: none;
  }
}

.rn-header__action--button {
  @include mdc-rtl-reflexive-box(margin, right, 8px);

  &:last-child {
    @include mdc-rtl-reflexive-box(margin, right, 0);
  }

  @include mdc-layout-grid-media-query_(phone) {
    @include mdc-rtl-reflexive-box(margin, right, 0);
    
    margin-bottom: 8px;

    &:first-child {
      margin-top: 8px;
    }

    &:last-child {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}

.rn-header__action--icon {
  padding: 12px;
}

.rn-header__action--icon:not(:disabled) {
  @include mdc-theme-prop(color, text-icon-on-background);
}
