.StudyBodyEditor__at {
  color: #62b1fe;
  direction: ltr;
  unicode-bidi: bidi-override; }

.StudyBodyEditor__hashtag {
  color: #5fb88a; }

.StudyBodyEditor__dollar-sign {
  color: #b85f8a; }

.StudyBodyEditorMain {
  display: flex;
  flex-direction: column;
  position: relative; }

.StudyBodyEditorMain__menu {
  position: absolute;
  left: -140px; }

.StudyBodyEditorMain__menu-content {
  height: 112px;
  width: 128.5px; }
  .StudyBodyEditorMain__menu-content .mdc-list-item .mdc-list-item__graphic {
    margin-right: 16px; }

.StudyBodyEditorMain__draft {
  background-color: #fff;
  /* @alternate */
  background-color: var(--mdc-theme-background, #fff);
  color: rgba(0, 0, 0, 0.87);
  /* @alternate */
  color: var(--mdc-theme-text-primary-on-light, rgba(0, 0, 0, 0.87));
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
  text-decoration: inherit;
  text-transform: inherit;
  display: block; }

.StudyBodyEditorMain__draft-text {
  position: relative;
  cursor: text; }

.StudyBodyEditorMain__preview {
  display: none; }

.StudyBodyEditorMain.StudyBodyEditorMain--preview .StudyBodyEditorMain__draft {
  display: none; }

.StudyBodyEditorMain.StudyBodyEditorMain--preview .StudyBodyEditorMain__preview {
  display: block; }

.StudyBodyEditorMain__hidden-input {
  position: absolute;
  z-index: -1;
  border: none;
  outline: none;
  box-shadow: none;
  user-select: none; }
