@import "@material/theme/mixins";
@import "@material/typography/mixins";

.StudyBodyEditor__at {
  color: rgba(98, 177, 254, 1.0);
  direction: ltr;
  unicode-bidi: bidi-override;
}

.StudyBodyEditor__hashtag {
  color: rgba(95, 184, 138, 1.0);
}

.StudyBodyEditor__dollar-sign {
  color: rgba(184, 95, 138, 1.0);
}

.StudyBodyEditorMain {
  display: flex;
  flex-direction: column;
  position: relative;
}

.StudyBodyEditorMain__menu {
  position: absolute;
  left: -140px;
}

.StudyBodyEditorMain__menu-content {
  height: 112px;
  width: 128.5px;

  .mdc-list-item .mdc-list-item__graphic {
    margin-right: 16px;
  }
}

.StudyBodyEditorMain__draft {
  @include mdc-theme-prop(background-color, background);
  @include mdc-theme-prop(color, text-primary-on-light);
  @include mdc-typography(body1);

  display: block;
}

.StudyBodyEditorMain__draft-text {
  position: relative;
  cursor: text;
}

.StudyBodyEditorMain__preview {
  display: none;
}

.StudyBodyEditorMain.StudyBodyEditorMain--preview {
  .StudyBodyEditorMain__draft {
    display: none;
  }

  .StudyBodyEditorMain__preview {
    display: block;
  }
}

.StudyBodyEditorMain__hidden-input {
  position: absolute;
  z-index: -1;
  border: none;
  outline: none;
  box-shadow: none;
  user-select: none;
}
