@import "@material/theme/mixins";
@import "@material/typography/mixins";

.StudyBodyEditor__at {
  color: rgba(98, 177, 254, 1.0);
  direction: ltr;
  unicode-bidi: bidi-override;
}

.StudyBodyEditor__hashtag {
  color: rgba(95, 184, 138, 1.0);
}

.StudyBodyEditor__dollar-sign {
  color: rgba(184, 95, 138, 1.0);
}

.Preview {
  min-height: 125px;
}

.Preview__body {
  padding: 1rem;
}

.StudyBodyEditorMain {
  display: flex;
  flex-direction: column;
}

.StudyBodyEditorMain__draft {
  @include mdc-theme-prop(background-color, background);
  @include mdc-theme-prop(color, text-primary-on-light);
  @include mdc-typography(body1);

  display: block;
}

.StudyBodyEditorMain__draft-text {
  position: relative;
  cursor: text;
  min-height: calc(125px - 60px);
  box-sizing: border-box;
  padding: 16px;
}

.StudyBodyEditorMain__preview {
  display: none;
}

.StudyBodyEditorMain.StudyBodyEditorMain--preview {
  .StudyBodyEditorMain__draft {
    display: none;
  }

  .StudyBodyEditorMain__preview {
    display: block;
  }
}

.StudyBodyEditorMain__hidden-input {
  position: absolute;
  z-index: -1;
  border: none;
  outline: none;
  box-shadow: none;
  user-select: none;
}
