.RichTextEditor {
  display: flex;
  flex-direction: column;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  cursor: text;
  font-size: 16;
  min-height: 125px;
  padding: 10px;
}

.RichTextEditor__at {
  color: rgba(98, 177, 254, 1.0);
  direction: ltr;
  unicode-bidi: bidi-override;
}

.RichTextEditor__hashtag {
  color: rgba(95, 184, 138, 1.0);
}

.RichTextEditor__dollar-sign {
  color: rgba(184, 95, 138, 1.0);
}

.AttachFile .AttachFile__name-input {
  display: none;
}

.AttachFile .AttachFile__name-input.open {
  display: inline-block;
}

.AttachFile .AttachFile__name {
  display: none;
}

.AttachFile .AttachFile__name.open {
  display: inline-block;
}

.Preview {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  min-height: 125px;
  padding: 10px;
}
