.RichTextEditor {
  border: 1px solid #ddd;
  cursor: text;
  font-size: 16;
  min-height: 40px;
  padding: 10px;
}

.RichTextEditor__at {
  color: rgba(98, 177, 254, 1.0);
  direction: ltr;
  unicode-bidi: bidi-override;
}

.RichTextEditor__hashtag {
  color: rgba(95, 184, 138, 1.0);
}

.RichTextEditor__attach-file .attach-file-label {
  cursor: pointer;
}

.RichTextEditor__attach-file .attach-file-name-input {
  display: none;
}

.RichTextEditor__attach-file .attach-file-name-input.open {
  display: block;
}

.RichTextEditor__attach-file .attach-file-name {
  display: none;
}

.RichTextEditor__attach-file .attach-file-name.open {
  display: block;
}
