@import "@material/theme/mixins";

.RichTextEditor {
  display: flex;
  flex-direction: column;
}

.RichTextEditor__at {
  color: rgba(98, 177, 254, 1.0);
  direction: ltr;
  unicode-bidi: bidi-override;
}

.RichTextEditor__hashtag {
  color: rgba(95, 184, 138, 1.0);
}

.RichTextEditor__dollar-sign {
  color: rgba(184, 95, 138, 1.0);
}

.RichTextEditor__write {
  @include mdc-theme-prop(background-color, background);
  @include mdc-theme-prop(color, text-primary-on-light);

  display: block;
}

.RichTextEditor__write-text {
  position: relative;
  cursor: text;
  min-height: calc(125px - 54.5px);
  box-sizing: border-box;
  padding: 1rem;
}

.RichTextEditor__preview {
  @include mdc-theme-prop(background-color, background);
  @include mdc-theme-prop(color, text-primary-on-light);

  display: none;
  min-height: 125px;
  padding: 1rem;
}

.RichTextEditor.RichTextEditor--preview {
  .RichTextEditor__write {
    display: none;
  }

  .RichTextEditor__preview {
    display: block;
  }
}

.RichTextEditor__hidden-input {
  position: absolute;
  z-index: -1;
  border: none;
  outline: none;
  box-shadow: none;
  user-select: none;
}
