.CourseHeader__actions {
  display: inline-flex;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
  width: 100%; }
  .CourseHeader__actions .CourseHeader__action {
    display: inline-flex;
    flex-wrap: no-wrap; }
    .CourseHeader__actions .CourseHeader__action.CourseHeader__action--apple {
      min-width: 125.5px; }
    .CourseHeader__actions .CourseHeader__action.CourseHeader__action--edit {
      margin-left: 1em; }
  @media (max-width: 479px) {
    .CourseHeader__actions {
      flex-direction: column;
      align-items: start; }
      .CourseHeader__actions .CourseHeader__action.CourseHeader__action--apple {
        margin-bottom: 0;
        margin-left: 0; }
      .CourseHeader__actions .CourseHeader__action.CourseHeader__action--edit {
        margin-bottom: 0;
        margin-left: 0; } }
