@import "@material/theme/variables";
@import "./variables";

.rn-link {
  text-decoration: none;
  transition: color $rn-link-transition-duration;
  color: inherit;

  &:hover {
    color: var(--mdc-theme-text-secondary-on-light);

    &.rn-link--secondary {
      color: var(--mdc-theme-text-primary-on-light);
    }
  }

  &.rn-link--on-primary {
    color: $mdc-theme-on-primary;

    &:hover {
      color: var(--mdc-theme-text-secondary-on-dark);

      &.rn-link--secondary {
        color: var(--mdc-theme-text-primary-on-dark);
      }
    }
  }

  &.rn-link--on-secondary {
    color: $mdc-theme-on-secondary;

    &:hover {
      color: var(--mdc-theme-text-secondary-on-dark);

      &.rn-link--secondary {
        color: var(--mdc-theme-text-primary-on-dark);
      }
    }
  }
}

.rn-link--underlined {
  text-decoration: underline;
}

