@import "@material/theme/mixins";
@import "./variables";

.rn-link {
  @include mdc-theme-prop(color, secondary);

  text-decoration: none;
  opacity: 1;
  transition: opacity $rn-link-transition-duration;

  &:hover {
    opacity: 0.5;
  }
}
