.rn-link {
  text-decoration: none;
  transition: color 100ms;
  color: inherit; }
  .rn-link:hover {
    color: var(--mdc-theme-text-secondary-on-light); }
    .rn-link:hover.rn-link--secondary {
      color: var(--mdc-theme-text-primary-on-light); }
  .rn-link.rn-link--on-primary {
    color: #fff; }
    .rn-link.rn-link--on-primary:hover {
      color: var(--mdc-theme-text-secondary-on-dark); }
      .rn-link.rn-link--on-primary:hover.rn-link--secondary {
        color: var(--mdc-theme-text-primary-on-dark); }
  .rn-link.rn-link--on-secondary {
    color: #fff; }
    .rn-link.rn-link--on-secondary:hover {
      color: var(--mdc-theme-text-secondary-on-dark); }
      .rn-link.rn-link--on-secondary:hover.rn-link--secondary {
        color: var(--mdc-theme-text-primary-on-dark); }

.rn-link--underlined {
  text-decoration: underline; }
