.StudyHeader__show {
  display: block;
}

.StudyHeader.open .StudyHeader__show {
  display: none;
}

.StudyHeader__edit {
  display: none;
}

.StudyHeader.open .StudyHeader__edit {
  display: block;
}

.StudyHeader__edit .edit-lesson-title {
  width: 760px;
  padding: 7px 10px;
}

.StudyHeader__actions {
  float: right;
}

.StudyHeader__title {
  word-wrap: break-word;
}
