@import "@material/theme/variables";

.Header__search-row {
  display: none;
}

.Header.open {
  .Header__search-row {
    display: block;
  }
}

.SearchBar {
  height: 100%;
}

.SearchBarInput {
  position: relative;
  height: 100%;

  .SearchBarInput__results {
    position: absolute;
    top: 115%;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: $mdc-theme-background;
    border: 1px solid $mdc-theme-primary;
  }
}
