@import "@material/theme/variables";

.SearchBarInput {
  .search-bar-label {
    cursor: text;
  }
  .search-results {
    top: 30px;
    left: 0;
    background-color: $mdc-theme-background;
    border: 1px solid $mdc-theme-primary;
  }
}
