.LessonHeader__show {
  display: flex;
  align-items: center;
  height: 72px;
}

.LessonHeader.LessonHeader__open .LessonHeader__show {
  display: none;
}

.LessonHeader__edit {
  display: none;
}

.LessonHeader.LessonHeader__open .LessonHeader__edit {
  display: flex;
  align-items: end;
}
