@import "@material/layout-grid/mixins";
@import "@material/theme/mixins";

.ResearchPage__header {
  text-align: center;

  background-image: 
    linear-gradient(
      rgba(mdc-theme-prop-value(on-surface), .56),
      rgba(mdc-theme-prop-value(on-surface), .56)
    ),
    url("https://s3.amazonaws.com/markus-ninja-production-static-asset-us-east-1/books.jpg");
  background-size: cover;
  background-position: center;
 
  @include mdc-layout-grid-media-query_(phone) {
    background-image: 
      linear-gradient(
        rgba(mdc-theme-prop-value(on-surface), .56),
        rgba(mdc-theme-prop-value(on-surface), .56)
      ),
      url("https://s3.amazonaws.com/markus-ninja-production-static-asset-us-east-1/books--m.jpg");
  } background-position: center;
}
