.UserBio__show {
  display: block;
}

.UserBio.open .UserBio__show {
  display: none;
}

.UserBio__edit {
  display: none;
}

.UserBio.open .UserBio__edit {
  display: block;
}

.UserBio__edit .edit-lesson-bio {
  width: 760px;
  padding: 7px 10px;
}

.UserBio__actions {
}

.UserBio__bio {
  word-wrap: break-word;
}
