@import "@material/image-list/mixins";
@import "@material/layout-grid/mixins";
@import "@material/theme/variables";

.rn-image-list {
  @include mdc-layout-grid-media-query_(desktop) {
    @include mdc-image-list-standard-columns(6);
  }
  @include mdc-layout-grid-media-query_(tablet) {
    @include mdc-image-list-standard-columns(4);
  }
  @include mdc-layout-grid-media-query_(phone) {
    @include mdc-image-list-standard-columns(2);
  }

  list-style-type: none;
}

.rn-image-list__item.rn-image-list__item--selected {
  .mdc-image-list__supporting {
    background: $mdc-theme-primary;
    opacity: 0.9;
  }
}
