@import "@material/layout-grid/mixins";
@import "@material/theme/mixins";
@import "@material/typography/mixins";
@import "@material/typography/variables";

.HTML {
  * {
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    text-decoration: underline;
    transition: color 100ms;
    color: inherit;

    &:hover {
      color: var(--mdc-theme-text-secondary-on-light);
    }
  }

  blockquote {
    @include mdc-typography(headline6);

    font-family: unquote("Arima Madurai, cursive");
    font-style: italic;
    margin: 0;
    padding-left: 32px;

    cite {
      @include mdc-typography(caption);
      @include mdc-theme-prop(color, text-secondary-on-light);

      display: block;
    }

    + * {
      margin-top: 32px;
    }
    + h1, + h2 {
      margin-top: 48px;
    }
    + h3 {
      margin-top: 40px;
    }
    + h4 {
      margin-top: 32px;
    }
  }

  dl {
    margin: 0;

  }

  dt {
    @include mdc-typography(subtitle1);
    font-weight: 500;
  }

  dd {
    + dt {
      margin-top: 8px;
    }
  }

  h1, h2, h3, h4 {
    font-family: unquote("Arima Madurai, cursive") !important;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  h1 {
    @include mdc-layout-grid-media-query_(desktop) {
      @include mdc-typography(headline2);

      font-weight: 500;

      + h5, + h6 {
        margin-top: 16px;
      }
    }
    @include mdc-layout-grid-media-query_(tablet) {
      @include mdc-typography(headline3);

      font-weight: 500;

      + h5, + h6 {
        margin-top: 8px;
      }
    }
    @include mdc-layout-grid-media-query_(phone) {
      @include mdc-typography(headline3);

      font-weight: 500;

      + h5, + h6 {
        margin-top: 8px;
      }
    }

    + * {
      margin-top: 32px;
    }
    + h1, + h2 {
      margin-top: 48px;
    }
    + h3 {
      margin-top: 40px;
    }
    + h4 {
      margin-top: 32px;
    }
  }

  h2 {
    @include mdc-layout-grid-media-query_(desktop) {
      @include mdc-typography(headline3);

      + h5, + h6 {
        margin-top: 16px;
      }
    }
    @include mdc-layout-grid-media-query_(tablet) {
      @include mdc-typography(headline4);

      + h5, + h6 {
        margin-top: 8px;
      }
    }
    @include mdc-layout-grid-media-query_(phone) {
      @include mdc-typography(headline4);

      + h5, + h6 {
        margin-top: 8px;
      }
    }

    + * {
      margin-top: 32px;
    }
    + h1, + h2 {
      margin-top: 48px;
    }
    + h3 {
      margin-top: 40px;
    }
    + h4 {
      margin-top: 32px;
    }
  }

  h3 {
    @include mdc-layout-grid-media-query_(desktop) {
      @include mdc-typography(headline4);

      + h5, + h6 {
        margin-top: 16px;
      }
    }
    @include mdc-layout-grid-media-query_(tablet) {
      @include mdc-typography(headline5);

      + h5, + h6 {
        margin-top: 8px;
      }
    }
    @include mdc-layout-grid-media-query_(phone) {
      @include mdc-typography(headline5);

      + h5, + h6 {
        margin-top: 8px;
      }
    }

    + * {
      margin-top: 32px;
    }
    + h1, + h2 {
      margin-top: 48px;
    }
    + h3 {
      margin-top: 40px;
    }
    + h4 {
      margin-top: 32px;
    }
  }

  h4 {
    @include mdc-layout-grid-media-query_(desktop) {
      @include mdc-typography(headline5);

      + h5, + h6 {
        margin-top: 16px;
      }
    }
    @include mdc-layout-grid-media-query_(tablet) {
      @include mdc-typography(headline6);

      + h5, + h6 {
        margin-top: 8px;
      }
    }
    @include mdc-layout-grid-media-query_(phone) {
      @include mdc-typography(headline6);

      + h5, + h6 {
        margin-top: 8px;
      }
    }

    + * {
      margin-top: 32px;
    }
    + h1, + h2 {
      margin-top: 48px;
    }
    + h3 {
      margin-top: 40px;
    }
    + h4 {
      margin-top: 32px;
    }
  }

  h5 {
    @include mdc-layout-grid-media-query_(desktop) {
      @include mdc-typography(subtitle1)
      @include mdc-theme-prop(color, text-secondary-on-light);

      + h5, + h6 {
        margin-top: 16px;
      }
    }
    @include mdc-layout-grid-media-query_(tablet) {
      @include mdc-typography(subtitle1);
      @include mdc-theme-prop(color, text-secondary-on-light);

      + h5, + h6 {
        margin-top: 8px;
      }
    }
    @include mdc-layout-grid-media-query_(phone) {
      @include mdc-typography(subtitle1);
      @include mdc-theme-prop(color, text-secondary-on-light);

      + h5, + h6 {
        margin-top: 8px;
      }
    }

    + * {
      margin-top: 32px;
    }
    + h1, + h2 {
      margin-top: 48px;
    }
    + h3 {
      margin-top: 40px;
    }
    + h4 {
      margin-top: 32px;
    }
  }

  h6 {
    @include mdc-typography(overline);
    @include mdc-theme-prop(color, text-secondary-on-light);

    + * {
      margin-top: 12px;
    }
  }

  hr {
    box-sizing: content-box;
    height: 0;
    margin-bottom: 0;
    margin-top: 56px !important;
    overflow: visible;
    border: none;
    border-top-color: rgba(0, 0, 0, 0.12);
    border-top-style: solid;
    border-top-width: 1px;

    + * {
      margin-top: 56px;
    }
  }

  img {
    max-width: 100%;
  }

  ol, ul {
    padding-left: 40px;
    margin-top: 32px;
    margin-bottom: 0;

    + * {
      margin-top: 32px;
    }
    + h1, + h2 {
      margin-top: 48px;
    }
    + h3 {
      margin-top: 40px;
    }
    + h4 {
      margin-top: 32px;
    }

    li:not(:first-child) {
      margin-top: 8px;
    }

    ol, ul {
      margin-top: 8px !important;
    }
  }
  
  p {
    &.caption {
      @include mdc-typography(caption);
      @include mdc-theme-prop(color, text-secondary-on-light);

      margin-top: 0 !important;
    }
    &.leading {
      margin-top: 48px !important;

      &::first-letter {
        @include mdc-typography(headline2);

        font-family: unquote("Arima Madurai, cursive");
        margin-right: 8px;
        text-transform: capitalize;
        display: block;
        float: left;
      }
    }

    + * {
      margin-top: 32px;
    }
    + h1, + h2 {
      margin-top: 48px;
    }
    + h3 {
      margin-top: 40px;
    }
    + h4 {
      margin-top: 32px;
    }
  }

  pre {
    + * {
      margin-top: 32px;
    }
    + h1, + h2 {
      margin-top: 48px;
    }
    + h3 {
      margin-top: 40px;
    }
    + h4 {
      margin-top: 32px;
    }
  }

  table {
    @include mdc-typography(body2);

    border-collapse: collapse;
    border-spacing: 0;
    table-layout: auto;

    caption {
      @include mdc-typography(caption);
    }

    + * {
      margin-top: 32px;
    }
    + h1, + h2 {
      margin-top: 48px;
    }
    + h3 {
      margin-top: 40px;
    }
    + h4 {
      margin-top: 32px;
    }
  }

  thead {
    background-color: #fafafa;
    font-weight: 500;
  }

  th {
    padding: .75rem .75rem 1.5rem ;
    text-align: left;
    vertical-align: middle;
    text-transform: uppercase;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  td {
    padding: .75rem .75rem 1.5rem ;
    text-align: left;
    vertical-align: middle;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}
