@import "@material/layout-grid/mixins";
@import "@material/theme/color-palette";
@import "@material/theme/mixins";
@import "@material/typography/mixins";
@import "@material/typography/variables";

.HTML {
  overflow-wrap: break-word;

  * {
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    @include mdc-theme-prop(color, secondary);
    opacity: 1;
    transition: opacity 100ms;

    &:hover {
      opacity: 0.5; 
    }
  }

  blockquote {
    @include mdc-theme-prop(color, text-secondary-on-light);
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid mdc-theme-prop-value(secondary);

    cite {
      @include mdc-typography(caption);
      @include mdc-theme-prop(color, text-hint-on-light);

      display: block;
    }

    + * {
      margin-top: 32px;
    }
    + h1, + h2 {
      margin-top: 48px;
    }
    + h3 {
      margin-top: 40px;
    }
    + h4 {
      margin-top: 32px;
    }
  }

  figure { 
    figcaption {
      @include mdc-typography(caption);
      @include mdc-theme-prop(color, text-secondary-on-light);
    }

    + * {
      margin-top: 32px;
    }
    + h1, + h2 {
      margin-top: 48px;
    }
    + h3 {
      margin-top: 40px;
    }
    + h4 {
      margin-top: 32px;
    }
  }

  code {
    border-radius: 4px;
    font-size: 0.85em;
    margin: 0;
    padding: 0.2em 0.4em;
    background-color: $material-color-blue-grey-50;
  }

  pre code {
    padding: 8px;
    background-color: #282a36;
  }

  dl {
    margin: 0;

    + * {
      margin-top: 32px;
    }
    + h1, + h2 {
      margin-top: 48px;
    }
    + h3 {
      margin-top: 40px;
    }
    + h4 {
      margin-top: 32px;
    }
  }

  dt {
    font-family: unquote("Arima Madurai, cursive");
    font-style: italic;
    font-size: 1.1rem;
    font-weight: 700;
  }

  dd {
    margin-left: 20px;
    + dt {
      margin-top: 8px;
    }
  }

  h1, h2, h3, h4 {
    font-family: unquote("Arima Madurai, cursive") !important;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  h1 {
    @include mdc-layout-grid-media-query_(desktop) {
      @include mdc-typography(headline2);

      font-weight: 500;

      + h5, + h6 {
        margin-top: 16px;
      }
    }
    @include mdc-layout-grid-media-query_(tablet) {
      @include mdc-typography(headline3);

      font-weight: 500;

      + h5, + h6 {
        margin-top: 8px;
      }
    }
    @include mdc-layout-grid-media-query_(phone) {
      @include mdc-typography(headline3);

      font-weight: 500;

      + h5, + h6 {
        margin-top: 8px;
      }
    }

    + * {
      margin-top: 32px;
    }
    + hr {
      margin-top: 12px;
    }
    + h1, + h2 {
      margin-top: 48px;
    }
    + h3 {
      margin-top: 40px;
    }
    + h4 {
      margin-top: 32px;
    }
  }

  h2 {
    @include mdc-layout-grid-media-query_(desktop) {
      @include mdc-typography(headline3);

      font-weight: 500;

      + h5, + h6 {
        margin-top: 16px;
      }
    }
    @include mdc-layout-grid-media-query_(tablet) {
      @include mdc-typography(headline4);

      font-weight: 500;

      + h5, + h6 {
        margin-top: 8px;
      }
    }
    @include mdc-layout-grid-media-query_(phone) {
      @include mdc-typography(headline4);

      font-weight: 500;

      + h5, + h6 {
        margin-top: 8px;
      }
    }

    + * {
      margin-top: 32px;
    }
    + hr {
      margin-top: 12px;
    }
    + h1, + h2 {
      margin-top: 48px;
    }
    + h3 {
      margin-top: 40px;
    }
    + h4 {
      margin-top: 32px;
    }
  }

  h3 {
    @include mdc-layout-grid-media-query_(desktop) {
      @include mdc-typography(headline4);

      font-weight: 500;

      + h5, + h6 {
        margin-top: 16px;
      }
    }
    @include mdc-layout-grid-media-query_(tablet) {
      @include mdc-typography(headline5);

      font-weight: 500;

      + h5, + h6 {
        margin-top: 8px;
      }
    }
    @include mdc-layout-grid-media-query_(phone) {
      @include mdc-typography(headline5);

      font-weight: 500;

      + h5, + h6 {
        margin-top: 8px;
      }
    }

    + * {
      margin-top: 32px;
    }
    + hr {
      margin-top: 12px;
    }
    + h1, + h2 {
      margin-top: 48px;
    }
    + h3 {
      margin-top: 40px;
    }
    + h4 {
      margin-top: 32px;
    }
  }

  h4 {
    @include mdc-layout-grid-media-query_(desktop) {
      @include mdc-typography(headline5);

      font-weight: 400;

      + h5, + h6 {
        margin-top: 16px;
      }
    }
    @include mdc-layout-grid-media-query_(tablet) {
      @include mdc-typography(headline6);

      font-weight: 400;

      + h5, + h6 {
        margin-top: 8px;
      }
    }
    @include mdc-layout-grid-media-query_(phone) {
      @include mdc-typography(headline6);

      font-weight: 400;

      + h5, + h6 {
        margin-top: 8px;
      }
    }

    + * {
      margin-top: 32px;
    }
    + hr {
      margin-top: 12px;
    }
    + h1, + h2 {
      margin-top: 48px;
    }
    + h3 {
      margin-top: 40px;
    }
    + h4 {
      margin-top: 32px;
    }
  }

  h5 {
    @include mdc-layout-grid-media-query_(desktop) {
      @include mdc-typography(subtitle1)
      @include mdc-theme-prop(color, text-secondary-on-light);

      + h5, + h6 {
        margin-top: 16px;
      }
    }
    @include mdc-layout-grid-media-query_(tablet) {
      @include mdc-typography(subtitle1);
      @include mdc-theme-prop(color, text-secondary-on-light);

      + h5, + h6 {
        margin-top: 8px;
      }
    }
    @include mdc-layout-grid-media-query_(phone) {
      @include mdc-typography(subtitle1);
      @include mdc-theme-prop(color, text-secondary-on-light);

      + h5, + h6 {
        margin-top: 8px;
      }
    }

    + * {
      margin-top: 32px;
    }
    + hr {
      margin-top: 12px;
    }
    + h1, + h2 {
      margin-top: 48px;
    }
    + h3 {
      margin-top: 40px;
    }
    + h4 {
      margin-top: 32px;
    }
  }

  h6 {
    @include mdc-typography(overline);
    @include mdc-theme-prop(color, text-secondary-on-light);

    + * {
      margin-top: 12px;
    }
  }

  hr {
    box-sizing: content-box;
    height: 0;
    margin-bottom: 0;
    margin-top: 56px;
    overflow: visible;
    border: none;
    border-top-color: rgba(0, 0, 0, 0.12);
    border-top-style: solid;
    border-top-width: 1px;

    + * {
      margin-top: 56px;
    }
  }

  i {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 19px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    vertical-align: text-bottom;
    white-sapce: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: 'grayscale';
  }

  img {
    max-width: 100%;
  }

  ol, ul {
    padding-left: 40px;
    margin-top: 32px;
    margin-bottom: 0;

    + * {
      margin-top: 32px;
    }
    + h1, + h2 {
      margin-top: 48px;
    }
    + h3 {
      margin-top: 40px;
    }
    + h4 {
      margin-top: 32px;
    }

    li:not(:first-child) {
      margin-top: 8px;
    }

    ol, ul {
      margin-top: 8px !important;
    }
  }
  
  p {
    &.caption {
      @include mdc-typography(caption);
      @include mdc-theme-prop(color, text-secondary-on-light);

      margin-top: 0 !important;
    }
    &.leading {
      margin-top: 48px !important;

      &::first-letter {
        @include mdc-typography(headline2);

        font-family: unquote("Arima Madurai, cursive");
        margin-right: 8px;
        text-transform: capitalize;
        display: block;
        float: left;
      }
    }

    + * {
      margin-top: 32px;
    }
    + h1, + h2 {
      margin-top: 48px;
    }
    + h3 {
      margin-top: 40px;
    }
    + h4 {
      margin-top: 32px;
    }
  }

  pre {
    + * {
      margin-top: 32px;
    }
    + h1, + h2 {
      margin-top: 48px;
    }
    + h3 {
      margin-top: 40px;
    }
    + h4 {
      margin-top: 32px;
    }
  }

  table {
    @include mdc-typography(body2);

    border-collapse: collapse;
    border-spacing: 0;
    table-layout: auto;

    [align=center] {
      text-align: center;
    }
    [align=left] {
      text-align: left;
    }
    [align=right] {
      text-align: right;
    }

    caption {
      @include mdc-typography(caption);
    }

    + * {
      margin-top: 32px;
    }
    + h1, + h2 {
      margin-top: 48px;
    }
    + h3 {
      margin-top: 40px;
    }
    + h4 {
      margin-top: 32px;
    }
  }

  thead {
    background-color: #fafafa;
    font-weight: 500;
  }

  th {
    padding: .75rem .75rem 1.5rem ;
    text-align: left;
    vertical-align: middle;
    text-transform: uppercase;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  td {
    padding: .75rem .75rem 1.5rem ;
    text-align: left;
    vertical-align: middle;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}
