@import "@material/top-app-bar/variables";

.rn-page {
  min-height: calc(100vh - #{$mdc-top-app-bar-row-height});
  
  &.mdc-layout-grid {
    max-width: 64rem;

    >.mdc-layout-grid__inner {
      width: 100%;
    }
  }
}

.rn-page--column {
  display: flex;
  flex-direction: column;

  >.mdc-layout-grid {
    width: 100%;

    &:last-child {
      flex: 1 1 auto
    }
  }
}
