@import "@material/top-app-bar/variables";

.rn-page {
  min-height: calc(100vh - #{$mdc-top-app-bar-row-height});
  display: flex;
  align-items: stretch;
  
  &.mdc-layout-grid {
    >.mdc-layout-grid__inner {
      width: 100%;
    }
  }
}

.rn-page--column {
  flex-direction: column;

  >.mdc-layout-grid {
    width: 100%;

    &:last-child {
      flex: auto
    }
  }
}
